/*

ATTN: This particular spec: iPhone X

copy content attribute: bloc/thinkful

*/


* {
  padding: 1px;
    }

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    }

header {
    font-size: 15px;
    padding: 0px 0px 0px 0px;
    }

.flex-container0{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    }

img {
    width: 40px;
    padding: 15px 0px 0px 0px;
    margin: 0px;
  }
  
.navbar {
    padding: 0px 0px 10px 0px;
}
  

.item1 {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

}

.item2 {
    display: flex;
    position: relative;
    right: 50px;
    top: 20px;
    font-size: 14px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 300px;
    height: 80px;
}

h1{
    margin: 0px 0px 0px 0px;
    position: relative;
    left: 120px;
    
}
.navbar > div {
    
    background-color: #514948;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: auto;
    margin: 0px, auto;
    height: 22px;
    text-align: right;
    font-size: 15px;
    padding: 1px;}

.navbar > ul {
    color: white;
}

 .navigation-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
     
}  

.hamburger {
    color: white;
    }

main {
    margin: 0px 10px 0px 45px;
}


p {
    text-align: left;
    padding: 3px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: -.75px;
}

h2 {
    font-size: 16px;
    padding: 1px;
 }


 .article {
    display: flex;
    padding: 10px;
    margin: 0 10px 0px 10px;
    text-align: left;
    font-size: 20px;
    padding: 1px;
}

.flex-container1 {
 
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-style: solid;
  border-width: 1.9px;
  border-radius: 8px;
  border-color: #f0f0f0;
  margin: 3px;
  font-size: 10px;
  padding: 1px;
  width: 255px;
  height: 220px;

  }


.flex-container2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 1.9px;
    border-radius: 8px;
    border-color: #f0f0f0;
    margin: 3px;
    font-size: 10px;
    padding: 1px;
    width: 255px;
    height: 220px;
  }

.flex-container3 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 1.9px;
    border-radius: 8px;
    border-color: #f0f0f0;
    margin: 3px;
    font-size: 10px;
    padding: 1px;
    width: 255px;
    height: 220px;
}
 

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 315px;
    height: 35px;
    margin: 0px;
    align-items: center;
    padding: 0 290 0 150;
    background-color: #fff;
    border-style: solid;
    border-radius: 8px;
    border-color: #f0f0f0;
    min-height: 100%;
    font-size: 100%;
      }


footer {
   
   
    margin: 0px 10px 0px 25px;
    height: 50px;

  }

@media only screen and (min-width:500px)
 {
    * {
       padding: 0px;

 }

       
   .flex-container0{
         
        padding: 0 100;
        width: 700px;
        height:100px;
        margin: 5 0 5 250px;
        display:flex;
        flex-direction:row;
        justify-content: center;
    }
     
  .item1 >img{
    
        display:flex;
        flex-direction:row;
        display: flex;
        position: relative;
        top: 25px;
        right: 170px;
        padding: 0px 50px 0px 200px;
        font-size: 11px;
     
  }
    .item2{
   
        display: flex;
        position: relative;
        right: 380px;
        top: 30px;
        width: 550px;
        height: 100px;  
        font-size: 14px;
        padding:0px 0px 0px 0px;
         margin: 0px 0px 0px 0px;
  }
     
    
   .navbar> div {
        display: flex;
        flex-grow: 1;  
        flex-shrink: 2;
        width: auto;
        background-color: #514948;
        height: 22px;
        padding: 1px;

   }
   
   
    img {
         width: 42px;
         padding: 4px;
   
   }
   
     .flex-container0{
         position: relative;
         left: 240px;
     }
  .item1{
        display: flex;
        position: relative;
        right: 130px;
     }
   .flex-container1  {
        
         width: 500px;
         height: 170px;
         margin: 0px 0px 0px 65px;
         font-size: 11px;
         padding: 1px;
   }
   
   .flex-container2 {    
         width: 500px;
         height: 170px;
         margin: 0px 0px 0px 65px;
         font-size: 11px;
         padding: 1px;
   
   }
   .flex-container3{     
         width: 500px;
         height: 170px;
         margin: 1px 0px 1.5px 65px;
         font-size: 11px;
         padding: 1px;
      
   }
   
   p {
       font-size: 14px;
       padding: 2px 1px 1px 5px;
   }
   
   .article {
         display: flex;
         flex-direction:column;
         
   }
  
 
  img {
         width: 47px;
         padding: 4px;
   
   }
   
   .main {
       width: 700px;
       display: flex;
       flex-direction:column;
       justify-content: center;
       padding: 0px 5px 0px 25px;
       margin: 0px 5px 0px 25px;
     
   }
   
   footer ul {
       list-style-type: none;
       display: flex;
       justify-content: space-around;
       flex-direction: row;
       width: 800px;
 }


 footer {


       margin: -5px;
       height: 50px;
       margin: .5px 0px 0px 0px;
       width: 800px;

 }
 
    @media screen and (min-width: 900px)
  {
    
   article {
     display: flexbox;
     align-content: center;
     width: 275px;
     padding: 10px 0px 0px 0px;
       
   }
  
      .item1 >img{
    
        display:flex;
        flex-direction:row;
        position: relative;
        right: 80px;
        padding: 0px 50px 0px 200px;
        font-size: 11px;
      }
      
      .item2{
   
        display: flex;
        position: relative;
        right: 220px;
        top: 30px;
        width: 550px;
        height: 100px;  
        font-size: 14px;
        padding:0px 0px 0px 0px;
         margin: 0px 0px 0px 0px;
  }  
      
.flex-container1  {
        text-align: center;
        border-style: solid;
        border-width: 1.9px;
        border-radius: 8px;
        border-color: #f0f0f0;
        margin: 0px 30px 0px 0px;
        font-size: 10px;
        padding: 0px 5px 0px 2px;
        width: 275px;
        height: 200px;
        margin: 0px 0px 0px -50px;
      }
             
.flex-container2 {
        
        text-align: center;
        border-style: solid;
        border-width: 1.9px;
        border-radius: 8px;
        border-color: #f0f0f0;
        margin: 0px 15px 0px 30px;
        font-size: 10px;
        padding: 0px 2px 0px 2px;
        width: 275px;
        height: 200px;
      }
            
.flex-container3 {
        
        text-align: center;
        border-style: solid;
        border-width: 1.9px;
        border-radius: 8px;
        border-color: #f0f0f0;
        margin: 0px 30px 0px 15px;
        font-size: 10px;
        padding: 0px 2px 0px 2px;
        width: 275px;
        height: 200px;
      }
          
      

main {

         display: flex;
         flex-direction: row;
         justify-content: center;
         padding: 0px 0px 0px 0px;
         margin: 30px 0px 5px -50px;  
      }
      
.navbar {
          background-color: #514948;
          width: 1600px;
          height: 40px;
          padding: 0px 0px 0px 0px;
          
      }     
.hamburger {
        color: #514948;
        }   
       
.navigation-menu{
        align-content: flex-end;   
        height: 200px;
        padding: 0px 0px 60px 1000px; 
     }  
     
.navigation-menu >li {
        position: relative;  
        bottom: 25px; 
        right: 175px;
        color: white;
        font-size: 15px;
        padding: 0px; 
     }
      
#home {
        margin-right: 30px; 
      }
      
#products{
        margin-right: 30px;     
      }
      
#about{
        margin-right: 30px; 
      }
      
  #twit {
          position: relative;
          right: 80px;
      }
      
       #fbook {
          position: relative;
          right: 80px;
      }
      
      #igram{
          position: relative;
          right: 80px;
      }
      
footer ul {
        display: flexbox;  
        position: static;
        padding-left: 175px;
        padding-right: 420px;
        justify-content: space-around;
        width: 940px;
        height: 35px;
        margin: 0px 0px -300px 0px;
       }
      
     }
     
    
     
     
     
     
     
     
     
     
     
     
     
     
